<!DOCTYPE html>
<html>
<head>
  <title>BigBasket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <%= yield :contract_header %>
  <%= yield :hero %>
  <%= yield %>
</div>
<%= render 'shared/all' %>

</body>
</html>
